
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item">
					    <a href="/station.html" class="nav-link">
							<span class="pcoded-micon">Station 1</a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>UI Element</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Basic</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/bc_alert.html">Alert</a></li>
							<li><a href="/bc_button.html">Button</a></li>
							<li><a href="/bc_badges.html">Badges</a></li>
							<li><a href="/bc_breadcrumb-pagination.html">Pagination</a></li>
							<li><a href="/bc_card.html">Cards</a></li>
							<li><a href="/bc_collapse.html">Collapse</a></li>
							<li><a href="/bc_carousel.html">Carousel</a></li>
							<li><a href="/bc_grid.html">Grid system</a></li>
							<li><a href="/bc_progress.html">Progress</a></li>
							<li><a href="/bc_modal.html">Modal</a></li>
							<li><a href="/bc_spinner.html">Spinner</a></li>
							<li><a href="/bc_tabs.html">Tabs & pills</a></li>
							<li><a href="/bc_typography.html">Typography</a></li>
							<li><a href="/bc_tooltip-popover.html">Tooltip & popovers</a></li>
							<li><a href="/bc_toasts.html">Toasts</a></li>
							<li><a href="/bc_extra.html">Other</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
					    <label>Forms &amp; table</label>
					</li>
					<li class="nav-item">
					    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Forms</span></a>
					</li>
					<li class="nav-item">
					    <a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Bootstrap table</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Chart & Maps</label>
					</li>
					<li class="nav-item">
					    <a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
					</li>
					<li class="nav-item">
					    <a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Pages</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/auth-signup.html">Sign up (template)</a></li>
					        <li><a href="/auth-signin.html">Sign in (template)</a></li>
					    </ul>
					</li>
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">CarrefourSA</span></a></li>

					<li class="nav-item pcoded-menu-caption">
						<label>Action zone</label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'logout' %}" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
					</li>
					<li class="nav-item">
					    <a target="_blank" rel="noopener" href="https://appseed.us/support" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-info"></i></span><span class="pcoded-mtext">Support</span></a>
					</li>

				</ul>
				
				<div class="card text-center">
					<div class="card-block">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="feather icon-sunset f-40"></i>
                        <br />
						<p>Need more?</p>
						<a target="_blank" rel="noopener noreferrer" 
						   href="https://appseed.us/admin-dashboards/django-dashboard-gradient-pro"
                           class="btn btn-primary btn-sm text-white m-0">Gradient PRO</a>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
