{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <!-- <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Dashboard Analytics</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
             <div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-4">
							<div class="page-header-title">
								<h5 class="m-b-10">Station 1</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Stations</a></li>
								<li class="breadcrumb-item"><a href="#!">Station 1</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
                <!-- order-card start -->
        <div class = "row">
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Maximum Amount of Work Done</h6>
                            <h2 class="text-right text-white"><i class="feather icon-paperclip float-left"></i><span>70</span></h2>
                            <p class="m-b-0">Monthly<span class="float-right">2200</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">Minimum Amount of Work Done</h6>
                            <h2 class="text-right text-white"><i class="feather icon-paperclip float-left"></i><span>50</span></h2>
                            <p class="m-b-0">Monthly<span class="float-right">1985</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-yellow order-card" style = "background: linear-gradient(45deg,#050180, #484691);}">
                        <div class="card-body">
                            <h6 class="text-white">Average Job Amount</h6>
                            <h2 class="text-right text-white"><i class="feather icon-paperclip float-left"></i><span>65</span></h2>
                            <p class="m-b-0">Monthly<span class="float-right">2130</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-blue order-card" style = "background: linear-gradient(45deg,#f54b42, #f77b74);}">
                        <div class="card-body">
                            <h6 class="text-white">Fastest Completed Job Time</h6>
                            <h2 class="text-right text-white"><i class="feather icon-watch float-left"></i><span>420</span></h2>
                            <p class="m-b-0">Monthly <span class="float-right">415</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-green order-card" style = "background: linear-gradient(45deg,#f79a16, #f7b14d);}">
                        <div class="card-body">
                            <h6 class="text-white">Slowest Completed Job Time</h6>
                            <h2 class="text-right text-white"><i class="feather icon-watch float-left"></i><span>462</span></h2>
                            <p class="m-b-0">Monthly<span class="float-right">475</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-yellow order-card" style = "background: linear-gradient(45deg,#8f0ced, #ae50f2);}">
                        <div class="card-body">
                            <h6 class="text-white">Average Work Time</h6>
                            <h2 class="text-right text-white"><i class="feather icon-watch float-left"></i><span>440</span></h2>
                            <p class="m-b-0">Monthly<span class="float-right">449</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-blue order-card" style = "background: linear-gradient(45deg,#d724e0, #da60e0);}">
                        <div class="card-body">
                            <h6 class="text-white">Most Steps Taken</h6>
                            <h2 class="text-right text-white"><i class="feather icon-fast-forward float-left"></i><span>929</span></h2>
                            <p class="m-b-0">Monthly<span class="float-right">959</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-green order-card" style = "background: linear-gradient(45deg,#008080, #00fa9a);}">
                        <div class="card-body">
                            <h6 class="text-white">Fewest Steps Taken</h6>
                            <h2 class="text-right text-white"><i class="feather icon-fast-forward float-left"></i><span>830</span></h2>
                            <p class="m-b-0">Monthly<span class="float-right">819</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-yellow order-card" style = "background: linear-gradient(45deg,#8b8b8b, #c0c0c0);}">
                        <div class="card-body">
                            <h6 class="text-white">Average Steps Taken</h6>
                            <h2 class="text-right text-white"><i class="feather icon-fast-forward float-left"></i><span>889</span></h2>
                            <p class="m-b-0">Monthly<span class="float-right">901</span></p>
                        </div>
                    </div>
                </div>
                <!-- order-card end -->
                <!-- users visite start -->
                <div class="col-md-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Shift-Time</h5>
                        </div>
                        <div class="card-body">
                            <div id="scatter-chart-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Steps Per Shift</h5>
                        </div>
                        <div class="card-body">
                            <div id="bar-chart-22"></div>
                        </div>
                    </div>
                </div>
            
                <!-- users visite end -->


                <!-- social statustic start -
                <!-- social statustic end -->
                <!-- account-section start -->
                
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
