

{% extends "layouts/base.html" %}

{% block title %} CarrefourSA {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">CarrefourSA</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">CarrefourSA</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
       						<h5>Simple Date Range Picker With a Callback</h5>
    					</div>
    					<div class="card-body">
        					<input type="text" name="daterange" class="form-control" value="01/01/2018 - 01/15/2018">
    					</div>
					</div>
					<div class="card">
                        <div class="card-header">
							<h5>Günlük Barkod Okuma Oranı</h5>
						</div>
						<div class="card-body">
							<div id="bar-chart-4"></div>
						</div>	
						<div class="card-header">
							<h5>Günlük Barkod Okutma Sayısı</h5>
						</div>
						<div class="card-body">
							<div id="bar-chart-1"></div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/test.js"></script>
	<script>$(window).ready(function() {
            $(function() {
                $('input[name="daterange"]').daterangepicker({
                    opens: 'left'
                }, function(start, end, label) {});
            });
        });
	</script>
{% endblock javascripts %}

